
.chat-rooms {
    margin: 2rem auto;
    width: 60%;
    /*justify-content: center;*/
    background-color: white;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-rooms__rooms {
    min-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
