
.chat {
    margin: 2rem auto;
    width: 60%;
    /*justify-content: center;*/
    background-color: white;
    border-radius: 0.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat__window__message-list {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat__window {

}